@mixin hide {
  visibility: hidden;
  display: none;
}

html {
  height: 100%;
}

body {
  font-family: $base-font;
  background-color: $background-color;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.noshow {
  @include hide;
}

#tooltip-canvas {
  background-color: #fff3cd;
  width: $defaultWidth;
  height: $defaultHeight;
}

.canvas-wrapper-container {
  overflow: scroll;
  max-width: $defaultWidth;
  max-height: $defaultHeight;
  margin: 0 auto 0 auto;
  padding: 0;
  border: 1px solid #BBBBBB;
  box-shadow: 2px 2px 10px #d7d7d7;
  .canvas-container {
    margin: 0 auto 0 auto;
  }
}

.sidebar-container {
  background-color: #f8f9fa;
}

.btn-color {
  color: #fff;
  background-color: $button-default-color;
  border-color: $button-default-color;
}

.top-panel-container {
  max-width: 547px;
  margin: 10px auto 10px auto;
  .text-container {
    max-width: 547px;
  }
}