@mixin hide {
  visibility: hidden;
  display: none;
}

html {
  height: 100%;
}

body {
  font-family: $base-font;
  background-color: $background-color;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.noshow {
  @include hide;
}

#tooltip-canvas {
  position: relative;
  //border: 1px solid #BBBBBB;
  //box-shadow: 2px 2px 2px #d7d7d7;
  background-color: #fff3cd;
}

.canvas-container {
  position: relative;
  overflow: hidden;
}

.sidebar-container {
  background-color: #f8f9fa;
}