/* --- main settings --- */
$background-color: #ececec;
$base-font: Lobster, Monospace;
/* --- toolbar colors --- */
$button-default-color: #0075a7;

/* --- canvas --- */
$defaultWidth: 800px;
$defaultHeight: 600px;

@import 'page';
